@import "shared/styles";

.formInput {
	border: 2px solid #814ef6;
	background: linear-gradient(0deg, #383288, #28227c);
	border-radius: 12px;
	font-size: 14px;
	color: white;
	padding: 14px;
}

.formError {
	color: rgb(255, 130, 130);
  font-size: 12px;
  margin-top: 4px;
}