@import "shared/styles";

.formInput {
	border: 2px solid #814ef6;
	background: $color-secondary-dark-purple-gradient;
	border-radius: 12px;
	font-size: 14px;
	color: $color-primary-white;
	padding: 14px;
}

.formError {
	color: $color-main-error;
  font-size: 12px;
  margin-top: 4px;
}