$color-light-purple-gradient: linear-gradient(191.35deg, #ca8efe 14.07%, #804df6 84.94%);
$color-primary-dark-purple-gradient: #804df6;
$color-primary-white: #fff;
$color-main-background: radial-gradient(#3535ad 0,#13094e 100%);
$color-main-error: rgb(255, 130, 130);
$color-secondary-dark-purple-gradient: linear-gradient(0deg, #383288, #28227c);