@import "shared/styles";

.MainPage {
	display: flex;
	height: 100vh;
	width: 100vw;
	background: $color-main-background;
	font-family: $ff-main;
}

.flash {
	transition: transform 300ms;	
	position: fixed;
	top: 0;	
	left: 50%;
	transform: translateY(-100%) translateX(-50%);	
	font-size: 14px;
	word-wrap: normal;
	min-width: max-content;
	color: $color-primary-white;
	background: $color-primary-dark-purple-gradient;
	border-radius: 0 0 10px 10px;
	padding: 12px 24px;
}

.flashVisible {
	transform: translateY(0) translateX(-50%);
}

.flashFailure {
	color: $color-primary-white;
	background: $color-main-error;
}